# Ignore all CSV files
*.csv

# Ignore specific folder
logs/
tensorboard/
runs/

# Keep archived experiments (important simulation results)
!archived_experiments/

# Allow CSV files in the root directory
!/*.csv